<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= user.username %> Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user.styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
        crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"     
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body>
    <%- include("./includes/navbar2.ejs") %>

    <!--* Main Content -->
    <main id="main-content">
        <!--* Cover Image -->
        <div class="cover-image">
            <img src="<%= user.coverImage %>" alt="Cover Image">
            <!--* Avatar -->
            <div class="avatar">
                <img src="<%= user.avatar %>" alt="Avatar">
            </div>
        </div>

        <!--* User Info -->
        <div class="d-flex flex-column align-items-start ms-5">
            <h3 class="mt-4"> <%= user.username %> </h3>
            <p class="text-muted">Some bio or user details</p>
            
            <!--* FOLLOW, UNFOLLOW BUTTON & FOLLOWER & FOLLOWING NO. SHOWN-->
            <form action="/user/toggleFollow/<%= user._id %>" method="POST">
                <% if( !currUser ) { %> <!--* No user logged in -->
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-dark mx-2 squared-pill">
                            Followers(<%= followersData.length %>)
                        </button>
                        <button type="button" class="btn btn-dark mx-2 squared-pill">
                            Following(<%= followingData.length %>)
                        </button>
                    </div>
                <% } else { %>  <!--* Someone is logged in -->
                    <% if(( user._id.toString() !== currUser._id.toString() )) { %> 
                        <!--! Logged in user is checking another user page -->
                        <% if(followOrNot) { %> 
                            <button type="submit" class="btn btn-outline-dark mx-2 squared-pill d-flex align-items-center">
                                Unfollow
                            </button>
                        <% } else { %>
                        <!--* IF LOGGED IN USER IS NOT FOLLOWING THEN ONLY FOLLOWER & FOLLOWING NO. IS VISIBLE -->
                            <button type="submit" class="btn btn-outline-dark mx-2 squared-pill d-flex align-items-center">
                                Follow
                            </button><br>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-outline-dark mx-2 squared-pill">
                                    Followers(<%= followersData.length %>)
                                </button>
                                <button type="button" class="btn btn-outline-dark mx-2 squared-pill">
                                    Following(<%= followingData.length %>)
                                </button>
                            </div>
                        <% } %>
                    <% } else { %>  <!--* CURRENT USER -->
                        <!--! logged in user follower & following list -->
                        <div class="d-flex">
                            <!--* FOLLOWERS BUTTON -->
                            <button type="button" class="btn btn-outline-dark mx-2 squared-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal-1">
                                Followers(<%= followersData.length %>)
                            </button>

                            <!--* FOLLOWING BUTTON -->
                            <button type="button" class="btn btn-outline-dark mx-2 squared-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                                Following(<%= followingData.length %>)
                            </button>
                        </div>
                    <% } %>
                <% } %>
            </form>

            <% if(currUser) { %>
                <!--**! logged in user FOLLOWERS MODAL -->
                <div class="modal fade" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Follower List</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                    <!--* FOLLOWER DATA & REMOVE BUTTON-->
                                    <% for(let follower of followersData) { %>
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <!--* USERNAME -->
                                            <a href="/<%= follower.subscribedBy.username %>" style="text-decoration: none; color: black;">
                                                <i class="fa-solid fa-circle-user fa-lg"></i>&nbsp;
                                                <b>@<%= follower.subscribedBy.username %></b>
                                            </a>

                                            <!--* REMOVE BUTTON -->
                                            <% if( currUser._id.toString() === user._id.toString() ) { %>
                                                <form action="/<%= follower.subscribedBy._id %>/removeFollower?_method=DELETE" method="POST">                                            <form action="/user/toggleFollow/<%= user._id %>" method="POST">
                                                    <button class="btn btn-outline-dark squared-pill d-flex align-items-center" type="submit">
                                                        Remove
                                                </form>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark squared-pill d-flex align-items-center" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--! logged in user FOLLOWING MODAL -->
                <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Following List</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                    <!--* FOLLOWING DATA -->
                                    <% for(let following of followingData) { %>
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <!--* USERNAME -->
                                            <a href="/<%= following.subscribedTo.username %>" style="text-decoration: none; color: black;">
                                                <i class="fa-solid fa-circle-user fa-lg"></i>&nbsp;<b>@<%= following.subscribedTo.username %></b>
                                            </a>

                                            <!--* UNFOLLOW BUTTON -->
                                            <!-- <button class="btn btn-outline-dark squared-pill d-flex align-items-center">
                                                Unfollow
                                            </button> -->
                                            <% if( currUser._id.toString() === user._id.toString() ) { %>
                                                <form action="/<%= following.subscribedTo._id %>/unfollowFollowing?_method=DELETE" method="POST">
                                                    <button class="btn btn-outline-dark squared-pill d-flex align-items-center" type="submit">
                                                        Unfollow
                                                    </button>
                                                </form>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark squared-pill d-flex align-items-center" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>

            <br>

            <!--* FOLLOWER & FOLLOWING LIST check of another user when logged in -->
            <% if( currUser && followOrNot ) { %>
                <div class="d-flex">    
                    <!--* FOLLOWERS BUTTON -->
                    <button type="button" class="btn btn-outline-dark mx-2 squared-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal-3">
                        Followers(<%= followersData.length %>)
                    </button>
            
                    <!--* FOLLOWING BUTTON -->
                    <button type="button" class="btn btn-outline-dark mx-2 squared-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#exampleModal-4">
                        Following(<%= followingData.length %>)
                    </button>
                </div>
            
                <!--* FOLLOWERS MODAL -->
                <div class="modal fade" id="exampleModal-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Follower List</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                    <!--* FOLLOWER DATA & REMOVE BUTTON-->
                                    <% for(let follower of followersData) { %>
                                        <!-- Wrap content in d-flex to align username and button in the same row -->
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <!--* USERNAME -->
                                            <a href="/<%= follower.subscribedBy.username %>" style="text-decoration: none; color: black;">
                                                <i class="fa-solid fa-circle-user fa-lg"></i>&nbsp;
                                                <b>@
                                                    <% if( follower.subscribedBy?.username ) { %>
                                                        <%= follower.subscribedBy.username %>
                                                    <% } else { %>
                                                        ###
                                                    <% } %>
                                                </b>
                                            </a>

                                            <!--* REMOVE BUTTON -->
                                            <% if( currUser.username.toString() === user.username.toString() ) { %>
                                                <form action="/user/toggleFollow/<%= user._id %>" method="POST">                                            <form action="/user/toggleFollow/<%= user._id %>" method="POST">
                                                    <button class="btn btn-outline-dark squared-pill d-flex align-items-center" type="submit">
                                                        Remove
                                                    </button>
                                                </form>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark squared-pill d-flex align-items-center" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!--* FOLLOWING MODAL -->
                <div class="modal fade" id="exampleModal-4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Following List</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="list-group">
                                    <!--* FOLLOWING DATA -->
                                    <% for(let following of followingData) { %>
                                        <!-- Wrap content in d-flex to align username and button in the same row -->
                                        <div class="list-group-item d-flex justify-content-between align-items-center">
                                            <!--* USERNAME -->
                                            <a href="/<%= following.subscribedTo.username %>" style="text-decoration: none; color: black;">
                                                <i class="fa-solid fa-circle-user fa-lg"></i>&nbsp;<b>@<%= following.subscribedTo.username %></b>
                                            </a>
            
                                            <!--* UNFOLLOW BUTTON -->
                                            <!-- <button class="btn btn-outline-dark squared-pill d-flex align-items-center">
                                                Unfollow
                                            </button> -->
                                            <% if( currUser.username.toString() === user.username.toString() ) { %>
                                                <form action="/user/toggleFollow/<%= user._id %>" method="POST">                                            <form action="/user/toggleFollow/<%= user._id %>" method="POST">
                                                    <button class="btn btn-outline-dark squared-pill d-flex align-items-center" type="submit">
                                                        Unfollow
                                                    </button>
                                                </form>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark squared-pill d-flex align-items-center" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            <% } %>

        </div>
        <hr>
        <!--* Dashboard -->
        <div class="dashboard">
            <h4>Dashboard</h4>
            <div class="row">
                <!--* CHANNEL STATS BUTTON -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Channel Details</h5>
                            <p class="card-text">View page details & stats</p>
                            <!--* BUTTON TO TRIGGER THE CHANNEL STATS MODAL -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#statsModal">
                                View Details
                            </button>
                        </div>
                    </div>
                </div>
                <!--* STATS MODAL -->
                <div class="modal fade" id="statsModal" tabindex="-1" aria-labelledby="statsModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="statsModalLabel">Channel Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Modal content goes here -->
                                <p><h4>About</h4></p>
                                <% if(profileData) { %>
                                    <% if(profileData.bio) { %>
                                        <h6><%= profileData.bio %></h6>
                                    <% } %>
                                
                                    <p><h4>Channel Details</h4></p>
                                    <h6>Joined </h6>

                                    <p><h4><i class="fa-solid fa-link fa-sm"></i>&nbsp;Links</h4></p>
                                    <h6><i class="fa-brands fa-instagram fa-lg"></i>&nbsp; : </h6>
                                    <br>
                                    <h6><i class="fa-brands fa-x-twitter fa-lg"></i>&nbsp; : </h6>
                                    <br>
                                    <h6><i class="fa-brands fa-facebook-f fa-lg"></i>&nbsp; : </h6>
                                    <br>
                                    <h6><i class="fa-brands fa-linkedin-in fa-lg"></i>&nbsp; : </h6>
                                    <br>
                                <% } %>
                                <!-- Add as much content as needed to make the modal scrollable -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--* PHOTO BUTTON -->
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">Photos</h5>
                            <p class="card-text">Check out your uploaded photos</p>
                            <!-- <a href="/user/photos" class="btn btn-primary">View Photos</a> -->
                            <a href="/<%= user.username %>/photo" class="btn btn-primary">View Photos</a>
                        </div>
                    </div>
                </div>
                <!--* SETTING BUTTON -->
                <!-- <% if( (currUser) && (currUser._id.toString() === user._id.toString())){ %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Settings</h5>
                                <p class="card-text">Manage your account settings</p>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Edit Settings
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <% } %> -->

                <% if ((currUser) && (currUser._id.toString() === user._id.toString())) { %>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Settings</h5>
                                <p class="card-text">Manage your account settings</p>
                                <!-- Button to trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Edit Settings
                                </button>
                            </div>
                        </div>
                    </div>
                
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Account Settings</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Modal body content goes here -->
                                    <p>Here you can edit your account settings...</p>
                                    <a href="/avatar" class="btn btn-primary">Update Avatar</a><br>
                                    <br>
                                    <a href="/coverImage" class="btn btn-primary">Update Cover Image</a>
                                    <br><br>
                                    <a href="/<%= currUser._id %>/addProfile" class="btn btn-primary">Account Settings</a>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <!-- TODO add footer -->
    <!--* Bootstrap validation and other features -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        let follower = document.querySelector('#follower-trigger');
        follower.addEventListener("click", () => {
            
        })

    </script>
    <script>
        // Check if the URL has "login=success" in the query parameters
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get("login") === "success") {
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 2500,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "success",
                title: "Signed in successfully"
            });
            const loginUrl = window.location.href;
            const newUrl = loginUrl.replace(/[?&]login=success/, '');
            window.history.replaceState(null, '', newUrl);
        }

        const urlParams2 = new URLSearchParams(window.location.search);
        const message = urlParams2.get("message");
        if(message === 'already_logged_in'){
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 2500,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "success",
                title: "Already signed in"
            });
            const alreadyLoggedInUrl = window.location.href;
            const newUrl = alreadyLoggedInUrl.replace(/[?&]message=already_logged_in/, '');
            window.history.replaceState(null, '', newUrl);
        }
    </script>
</body>
</html>
